div.box {
	border: solid;
	border-width: thin;
	border-radius: 10px;
	text-align: center;
	margin-left: 38%;
	margin-right: 38%;
	margin-top: 200px;
}

a:link, a:visited {
	color: grey;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

input[type="submit"] {
  background-color: white;
  border: solid;
  border-width: thin;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid;
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
}