<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Page</title>
</head>
<body>
    <h1 th:text="${album.title}">Album name</h1>
    <span class="home"><a href="Home">Back to home</a></span>

    <div class="images" align="center">
        <table>
            <tr>
                <td><button class="prec_button"><a href="">PRECEDENTI</a></button></td>
                <td>
	                <table>
	                	<tr th:remove="all-but-first">
			                <td th:each="image: ${images}" th:if="${imageStat.count <= 5}"><a th:href="@{/AlbumInfo(id=${album.id},imgId=${image.id})}"><img src="" th:src="@{${image.imgPath}}" alt="img1" width=120></a></td>
			                <td><img src="" alt="img2"></td>
			                <td><img src="" alt="img3"></td>
			                <td><img src="" alt="img4"></td>
			                <td><img src="" alt="img5"></td>
		                <tr>
	                </table>
	            </td>
                <td><button class="succ_button"><a href="">SUCCESSIVE</a></button></td>
            </tr>
        </table><br><br>
    </div>
    <div class="details" th:if="${mainImage}">
        <div align="center"><img src="" th:src="@{${mainImage.imgPath}}" alt="image"></div>
        <br><br>
        <table class="Comments">
            <thead><tr>
                <th align="left">Comments</th>
                <th></th>
            </tr></thead>
            <tbody th:remove="all-but-first" th:if="${not comments.isEmpty()}">
	            <tr th:each="comment : ${comments}">
	                <td th:text="${comment.username}">Username</td>
	                <td th:text="${comment.text}">Very nice comment</td>
	            </tr>
	        </tbody>
	        <tbody th:if="${comments.isEmpty()}">
	        	<tr><td>There are no comments for this image yet.</td></tr>
	        </tbody>
        </table>

        <h4>Leave a comment</h4>
        <form action="#">
            <input type="text" placeholder="Comment..." maxlength="150" required>
            <input type="hidden" th:value="${album.id}" name="albumId">
            <input type="hidden" th:value="${mainImage.id}" name="imageId">
            <input type="submit" value="Send">
        </form>
    </div>
    
    <br><br>
    <span class="logout"><a href="Logout">Logout</a></span>
    
</body>
</html>