<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Page</title>
</head>
<body>
    <h1 th:text="${album.title}">Album name</h1>
    <span class="home"><a href="Home">Back to home</a></span>

    <div class="images" align="center" th:if="${not images.isEmpty()}">
    
    	<button th:if="${page > 0}" class="prec_button"><a href="" th:href="@{/AlbumInfo(id=${album.id},page=${page - 1})}">PREVIOUS</a></button>
    	<table>
        	<tr th:remove="all-but-first">
			                <td th:each="image: ${images}" th:if="${imageStat.index >= 5*page and imageStat.index < 5*(page+1)}"><a th:href="@{/AlbumInfo(id=${album.id},page=${page},imgId=${image.id})}"><img src="" th:src="@{${image.imgPath}}" alt="img1" width=120></a></td>
			                <td><img src="" alt="img2"></td>
			                <td><img src="" alt="img3"></td>
			                <td><img src="" alt="img4"></td>
			                <td><img src="" alt="img5"></td>
		                <tr>
            <tr>
        </table>
        <button th:if="${page < (images.size() / 5 + (images.size()%5 == 0 ? 0 : 1)) - 1}" class="succ_button"><a href="" th:href="@{/AlbumInfo(id=${album.id},page=${page + 1})}">NEXT</a></button>
        <br><br>
        
    </div>
    <div align="center" th:if="${images.isEmpty()}">This album is empty :(</div>
    
    <div class="details" th:if="${mainImage}">
    	<h2 th:text="${mainImage.title}"></h2>
    	<h4 th:text="${mainImage.dateOfCreation}"></h4>
        <div align="center"><img src="" th:src="@{${mainImage.imgPath}}" alt="image" width=1000></div>
        <br><br>
        <div th:if="${mainImage.text.length > 0}">
        	<h4>Descrizione:</h4>
        	<p th:text="${mainImage.text}">
        </div>
        
        <table class="Comments">
            <thead><tr>
                <th align="left">Comments</th>
                <th></th>
            </tr></thead>
            <tbody th:remove="all-but-first" th:if="${not comments.isEmpty()}">
	            <tr th:each="comment : ${comments}">
	                <td th:text="${comment.username}">Username</td>
	                <td th:text="${comment.text}">Very nice comment</td>
	            </tr>
	        </tbody>
	        <tbody th:if="${comments.isEmpty()}">
	        	<tr><td>There are no comments for this image yet.</td></tr>
	        </tbody>
        </table>

        <h4>Leave a comment</h4>
        <form action="SubmitComment" method="POST">
            <input type="text" placeholder="Comment..." maxlength="180" name="text" required>
            <input type="hidden" th:value="${album.id}" name="albumId">
            <input type="hidden" th:value="${mainImage.id}" name="imageId">
            <input type="hidden" th:value="${page}" name="page">
            <input type="submit" value="Send">
        </form>
    </div>
    
    <br><br>
    <a th:href="@{/EditAlbum(albumId=${album.id})}" th:if="${owner}">Edit album</a><br>
    <span class="logout"><a href="Logout">Logout</a></span>
    
</body>
</html>