<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Images To The Album</title>
</head>
<body>
	<h1 th:text="${album.title}">Nome album</h1>
	<br>
	<p>Seleziona le immagini che vuoi aggiungere all'album:</p>
	<form th:action="@{/AlbumManager(albumId=${album.id})}" method="POST">
		<div th:each="image : ${images}">
			<input type="checkbox" name="imageId" th:value="${image.id}">
			<img src="" th:src="@{${image.imgPath}}" alt="img1" width=120><br>
		</div>
		<br>
		<input type="submit" value="Aggiungi">
	</form>
</body>