<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1 th:text="'Welcome to your homepage ' + ${user.username}">Homepage</h1>
    <br>
    <div class="tuoialbum">
        <table>
            <thead>
                <tr><th>Your albums</th></tr>
            </thead>
            <tbody th:remove="all-but-first">
	            <tr th:each="album : ${user_albums}"><td><a href="" th:href="@{/AlbumInfo(id=${album.id})}" th:text="${album.title}">Album 1</a></td></tr>
	            <tr><td><a href="">Album 2</a></td></tr>
	            <tr><td><a href="">Album 3</a></td></tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="altrialbum">
        <table>
        	<thead>
	            <tr><th>Other users' albums</th></tr>
	       	</thead>
	       	<tbody th:remove="all-but-first">
	            <tr th:each="album : ${other_albums}"><td><a href="" th:href="@{/AlbumInfo(id=${album.id})}" th:text="${album.title}">Album di Cla</a></td></tr>
	            <tr><td><a href="">Album di Dodo</a></td></tr>
	      	</tbody>
        </table>
    </div>
    <br><br><br>
    <span class="logout"><a href="index.html">Logout</a></span>
</body>
</html>